@import 'utils';

.wrapper {
    display: inline-flex;
    align-items: center;
    background: $white;
    border: 1px solid $greyLighter;
    border-radius: 4px;
    padding: 0.4rem 0.9rem 0.5rem 0.6rem;
    min-height: 2.8rem;
    position: relative;
    cursor: pointer;

    .star {
        margin-right: 0.3rem;
    }

    .title {
        @include font($greyDarker, 1.2rem, $medium);
        line-height: 1.9rem;
        letter-spacing: -0.5px;
        margin-right: 0.4rem;
    }

    .sort-icon {
        @include vertical-align;
        right: 0.3rem;
        transform: translateY(-64%);

        &.clicked {
        transform: translateY(-30%) rotate(180deg);
        }
    }

    & ~ .wrapper {
        margin-left: 1.2rem;
    }
}