@import 'utils';

.wrapper {
    @include font($greyDarker, 2.1rem, $bold);
    line-height: 2.6rem;
    letter-spacing: -0.6px;
    padding-bottom: 1.7rem;
    border-bottom: 1px solid $greyLight;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 5.4rem;
        height: 0.2rem;
        left: 0;
        bottom: -0.1rem;
        background: $greyDark;
    }
}