@import 'utils';

.wrapper {
    .title {
        @include font($greyDarker, 1.4rem, $bold);
        line-height: 2.3rem;
        letter-spacing: -0.4px;
        margin-bottom: 1.8rem;
    }

    .pc-wrapper {
        @include media('>medium'){
            margin-top: 1.8rem;
        }
    }
}