@import 'utils';

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    height: auto;
    @include font($greyDarker, 1.4rem, $regular);
    line-height: 2rem;
    letter-spacing: -0.2px;
    cursor: pointer;

    input[type="radio"] {
        position: absolute;
        width: 1px; 
        height: 1px; 
        padding: 0; 
        margin: -1px; 
        overflow: hidden; 
        clip:rect(0,0,0,0); 
        border: 0;
    }
    .label {
        cursor: pointer;
        transition: color .15s ease-in;

        &:hover {
            color: $primary;
            .checkmark {
                border-color: $primary;
            }
        }
    }
    .checkmark {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid $greyLight;
        border-radius: 100px;
        position: relative;
        margin-right: 0.6rem;
        transition: border-color .15s ease-in;

        &.invalid {
            border-color: $danger;

            &~ span {
                color: $danger;
            }
        }
    }

    input:checked {
        &~ .checkmark {
            background: $primary;
            border: 2px solid $greyLighter;
        }
    }

    .focus {
        @include font($greyBlack, 1.4rem, $bold);
        line-height: 2.6rem;
        margin-left: 1.2rem;
    }
}