@import 'utils';

.wrapper {
    margin-top: 4rem;

    .btn-box {
        margin-top: 5.3rem;
        text-align: center;
    }

    

    @include media('>medium'){
        margin-top: 5.7rem;

        .btn-box {
            margin-top: 8.6rem;
        }
    }
}