@import 'utils';

.wrapper {
    margin-top: 3.8rem;

    .moving-tabs {
        margin-bottom: 0.8rem;

        &.moving-tabs-pc {
            display: none !important;
        }

        &.moving-tabs-mobile {
            display: flex !important;
        }
    }

    .basic-info-box {
        margin-bottom: 1.8rem;

        .list-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            .list {
                display: flex;
                align-items: center;
                .title {
                    @include font($greyDarker, 1.2rem, $bold);
                    line-height: 1.9rem;
                    letter-spacing: -0.5px;
                    padding-left: 0.3rem;
                }

                .deco {
                    min-width: 2rem;
                    text-align: center;

                    .dot {
                        display: inline-block;
                        width: 0.6rem;
                        height: 0.6rem;
                        background: $danger;
                        border-radius: 100px;
                    }
                }

                .content {
                    @include font($greyDarker, 1.3rem, $medium);
                    line-height: 1.8rem;
                    letter-spacing: -0.3px;

                    .currency {
                        @include font($greyDark, 1rem, $medium);
                        line-height: 1.8rem;
                        letter-spacing: -0.3px;
                        text-transform: uppercase;
                        padding-left: 0.3rem;
                    }
                }
            }
        }
    }

    .entire-box {
        .left-side {
            .input {
                margin-bottom: 0.6rem;
            }
            .input-extra-text {
                font-family: 'Montserrat', sans-serif;
                @include font($greyDark, 1rem, $bold);
                line-height: 1.8rem;
                letter-spacing: -0.3px;
                text-transform: uppercase;
                margin-bottom: 0.6rem;
            }
            .min-order-amount{
                margin: 0.6rem 0;
                @include font($greyDark, 1rem, $medium);
                line-height: 1.4rem;
                letter-spacing: -0.5px;
                text-align: right;
            }
            .easy-order-box {
                padding-bottom: 0.8rem;
                text-align: right;
                border-bottom: 1px solid $greyLighter;

                .easy-order {
                    display: inline-block;
                    background: $white;
                    border: 1px solid $greyLighter;
                    border-radius: 4px;
                    font-family: 'Montserrat', sans-serif;
                    @include font($greyDark, 1rem, $medium);
                    line-height: 1.8rem;
                    letter-spacing: -0.3px;
                    min-width: 3.8rem;
                    min-height: 2rem;
                    text-align: center;
                    margin-right: 0.3rem;
                    cursor: pointer;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .total-box {
                margin: 0.8rem 0 1.8rem;

                .list {
                    margin-bottom: 0.9rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .content {
                        font-family: 'Montserrat', sans-serif;
                        @include font($greyDarker, 1rem, $bold);
                        line-height: 1.8rem;
                        letter-spacing: -0.3px;

                        .number {
                            font-weight: $medium;
                        }
                    }
                }
            }

            .btn-box {
                text-align: center;
            }
        }
        
        .right-side {
            z-index: -1;
            position: relative;
            .head-each, .body-each {
                &:first-child {
                    width: 30%;
                }

                &:last-child {
                    width: 70%;
                }
            }

            .list-box {
                height: 10.2rem;
                
                .body-box {
                    display: flex;
                    align-items: center;
                    margin-top: 0.8rem;
                    padding: 0.1rem 0.2rem;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: var(--pseudo-width);
                        border-radius: 2px;
                        z-index: -1;

                        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                            width: 0;
                        }
                    }

                    &:first-child {
                        margin-top: 0.6rem;
                    }

                    .body-each {
                        font-family: 'Montserrat', sans-serif;
                        @include font($greyDark, 1rem, $medium);
                        line-height: 1.8rem;
                        letter-spacing: -0.3px;

                        &.price {
                            text-align: right;
                        }
                    }
                }
                

                &.buy {
                    .body-box {
                        &:after {
                            left: 0;
                            background: $successLighter;
                        }

                    }
                }

                &.sell {
                    .body-box {
                        &:after {
                            right: 0;
                            background: $dangerLighter;
                        }

                    }
                }
            }
        }
    }
    
    &.buy {
        .btn-box {
            button {
                background: $success;
            }
        }
    }
    
    &.sell {
        .btn-box {
            button {
                background: $danger;
            }
        }
    }

    @include media('>medium') {
        margin-top: 0;

        .moving-tabs {
            margin: 0.6rem 0;

            &.moving-tabs-mobile {
                display: none !important;
            }

            &.moving-tabs-pc {
                display: flex !important;
            }

            .tab-menu {
                background: $white;
                border: 0.75px solid $greyLighter;
                border-radius: 6px;
                width: 100%;
                text-align: center;
                @include font($greyDarker, 1.4rem, $medium);
                line-height: 2.3rem;
                letter-spacing: -0.4px;
                padding: 1rem 0;
                cursor: pointer;
                transition: .2s background-color;

                &:first-child{
                    margin-right: 1.2rem;
                }

                .currency {
                    font-family: 'Montserrat', sans-serif;
                    @include font($greyDarkest, 1.4rem, $bold);
                    line-height: 2rem;
                    letter-spacing: -0.2px;
                    margin-right: 0.6rem;
                }
            }

            &.buy {
                .tab-menu {
                    &.active {
                        background-color: $successLighter;
                    }
                }
            }

            &.sell {
                .tab-menu {
                    &.active {
                        background-color: $dangerLighter;
                    }
                }
            }
        }

        .basic-info-box {
            border-radius: 6px;
            margin-bottom: 0.6rem;
            padding: 0.8rem 1rem;

            .list-box {
                margin-bottom: 0.3rem;

                .list {
                    .title {
                        // padding-left: 0.3rem;
                    }

                    .deco {

                        .dot {
                            width: 0.8rem;
                            height: 0.8rem;
                        }
                    }

                    .content {

                        .currency {
                            font-size: 1.3rem;
                            padding-left: 0.8rem;
                        }
                    }
                }
            }
        }

        .entire-box {
            display: flex;
            // flex-direction: column-reverse;

            .order-box0 {
                order: 1;
            }
            .order-box2 {
                order: -1;
            }

            .left-side {
                border-radius: 6px !important;
                padding: 0.8rem 1rem !important;
                .input {
                    margin-bottom: 1rem;
                }
                .input-extra-text {
                    @include font($greyLight, 1.3rem, $medium);
                    margin-bottom: 1rem;
                }
                .min-order-amount{
                    font-size: 1.2rem;
                }
                .easy-order-box {
                    padding-bottom: 1rem;

                    .easy-order {
                        font-size: 1.3rem;
                        min-width: 4.4rem;
                        min-height: 2.6rem;
                        line-height: 2.6rem;
                        margin-right: 0.6rem;
                    }
                }

                .total-box {
                    margin: 0.6rem 0 1.2rem;

                    .list {
                        margin-bottom: 1rem;

                        .content {
                            font-size: 1.2rem;
                            // line-height: 1.9rem;
                            // letter-spacing: -0.5px;

                            // .number {
                            //     font-weight: $medium;
                            //     line-height: 1.8rem;
                            //     letter-spacing: -0.3px;
                            // }
                        }
                    }
                }

                .btn-box {
                    margin-bottom: 1.7rem;
                }
            }
            
            .right-side {
                padding: 0.4rem !important;
                border-radius: 6px !important;

                .call-price-title-box {
                    margin-bottom: 0.5rem;

                    .title {
                        margin-top: 0.6rem;
                        margin-left: 0.8rem;
                        @include font($black, 1.4rem, $bold);
                        line-height: 2.3rem;
                        letter-spacing: -0.4px;
                    }
                }

                .head-each, .body-each {
                    &:first-child {
                        width: 50%;
                    }

                    &:last-child {
                        width: 50%;
                    }
                }

                .custom-head-box {
                    border-radius: 0;
                    padding: 0.3rem 0;
                }

                .current-price-box {
                    background: $white;
                    border: 1px solid $greyLightest;
                    border-radius: 4px;
                    padding: 0.3rem;
                    display: flex !important;
                    align-content: center;
                    justify-content: center;
                    margin: 0.4rem 0;

                    .title {
                        @include font($greyDarker, 1.2rem, $medium);
                        line-height: 1.9rem;
                        letter-spacing: -0.5px;
                    }

                    .content {
                        font-family: 'Montserrat', sans-serif;
                        @include font($greyDarker, 1.4rem, $bold);
                        line-height: 2rem;
                        letter-spacing: -0.2px;
                        margin: 0 2.8rem 0 3rem;
                    }

                    .percentage {
                        font-family: 'Montserrat', sans-serif;
                        @include font($greyDarker, 1.3rem, $medium);
                        line-height: 1.8rem;
                        letter-spacing: -0.3px;
                        @include flexMC;

                        .sort-arrow {
                            margin-right: 0.3rem;
                        }

                        &.negative {
                            color: $danger;

                            .sort-arrow {

                                path {
                                    fill: $danger;
                                }
                            }
                        }

                        &.positive {
                            color: $success;

                            .sort-arrow {

                                path {
                                    fill: $success;
                                }
                            }
                        }
                    }
                }

                .list-box {
                    height: 17.2rem;
                    
                    .body-box {
                        margin-top: 0.4rem;
                        padding: 0;

                        &:first-child {
                            margin-top: 0.4rem;
                        }

                        .body-each {
                            color: $greyDarker;
                            text-align: center;

                            &.price {
                                text-align: center;
                            }
                        }
                    }

                    &.sell {
                        .body-box {
                            &:after {
                                left: 0;
                                right: unset;
                            }

                        }
                    }
                }
            }
        }

        .login-needed {
            border-color: $greyLighter;
            padding: 5.2rem 0;
        }
    }
}